<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Dayz - Aufgabe 0</title>
</head>
<body>
	{%include 'header.html' %}
   <main>
        <section>
            <h3>“Etwas über mich”</h3>
            <p>I hate computers with a passion.</p>
        </section>
        <section>
            <h3>“Skills”</h3>
            <p>“Mit diesen Tools und Sprachen arbeite In jeden Tag”</p>
            <ul>
		    {%for skill in skills%}
		    <li> {{skill}} </li>
		    {%endfor%}
            </ul>
        </section>
        <section>
            <h3>“Kontakt”</h3>
            <p>Wer Lust hat, meiner Sekte beizutreten, kann sich gerne über das Kontaktformular  bei mir melden.</p>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>
